<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DwUtils.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <DwUtils.Properties.Settings>
            <setting name="AppName" serializeAs="String">
                <value>DwUtils</value>
            </setting>
            <setting name="NeedUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GeneralFormState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="GeneralFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="GeneralFormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ActiveTab" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Data" serializeAs="String">
                <value>DATA</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>database.db</value>
            </setting>
            <setting name="License" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MailLicense" serializeAs="String">
                <value>world.count@yandex.ru</value>
            </setting>
            <setting name="AuthFile" serializeAs="String">
                <value>auth.xml</value>
            </setting>
            <setting name="PostItemConnectFile" serializeAs="String">
                <value>postitem.xml</value>
            </setting>
            <setting name="PostUnitConnectFile" serializeAs="String">
                <value>postunit.xml</value>
            </setting>
        </DwUtils.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="OperationHistory12PortBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://tracking.russianpost.ru/rtm34" binding="customBinding" bindingConfiguration="OperationHistory12PortBinding" contract="PostApi.OperationHistory12" name="OperationHistory12Port" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
