################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################


/AOP/bin
/AOP/DATA
/AOP/obj
/Barcodes/bin
/Barcodes/obj
/FrankList/bin
/FrankList/obj
/Installer/bin
/Installer/obj
/ListEditor/bin
/ListEditor/obj
/Mail/bin
/Mail/obj
/OpenCloseDU/bin
/OpenCloseDU/obj
/OrgList/bin
/OrgList/obj
/PartStat/bin
/PartStat/obj
/TelegramBot/bin
/TelegramBot/obj
/Tracking/bin
/Tracking/obj
/WcApi/bin
/WcApi/obj
/Wc32Api/obj
/Wc32Api/bin
/WcPostApi/obj
/WcPostApi/bin
/WinMaterial/bin
/WinMaterial/obj
/LK/obj
/LK/bin
/LicenseGenerator/obj
/LicenseGenerator/bin
/TestUpdater/obj
/TestUpdater/bin
/TestingApp/obj
TestingApp/bin
/DwUtils/obj
/DwUtils/bin
/.vs
/WinMaterial/obj/Release
/packages
