<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PartStat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <runtime>
      <generatePublisherEvidence enabled="false"/>
    </runtime>
    <userSettings>
        <PartStat.Properties.Settings>
            <setting name="AppName" serializeAs="String">
                <value>PartStat</value>
            </setting>
            <setting name="Data" serializeAs="String">
                <value>DATA</value>
            </setting>
            <setting name="NeedUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GeneralFormState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="GeneralFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="GeneralFormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ConnectFile" serializeAs="String">
                <value>connect.xml</value>
            </setting>
            <setting name="MailCategoryFile" serializeAs="String">
                <value>category.xml</value>
            </setting>
            <setting name="MailTypeFile" serializeAs="String">
                <value>type.xml</value>
            </setting>
            <setting name="ListStatusFile" serializeAs="String">
                <value>status.xml</value>
            </setting>
            <setting name="DataColorFile" serializeAs="String">
                <value>color.xml</value>
            </setting>
            <setting name="ConfigFile" serializeAs="String">
                <value>config.xml</value>
            </setting>
            <setting name="TarifsData" serializeAs="String">
                <value>Tarifs</value>
            </setting>
            <setting name="NoticeTarifFile" serializeAs="String">
                <value>notice.xml</value>
            </setting>
            <setting name="FirstMailTarifFile" serializeAs="String">
                <value>first_mail.xml</value>
            </setting>
            <setting name="MailTarifFile" serializeAs="String">
                <value>mail.xml</value>
            </setting>
            <setting name="ParcelTarifFile" serializeAs="String">
                <value>parcel.xml</value>
            </setting>
            <setting name="FirstParcelTarifFile" serializeAs="String">
                <value>first_parcel.xml</value>
            </setting>
            <setting name="InterMailTarifFile" serializeAs="String">
                <value>inter_mail.xml</value>
            </setting>
            <setting name="InterParcelTarifFile" serializeAs="String">
                <value>inter_parcel.xml</value>
            </setting>
            <setting name="PrintPreviewFlag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="License" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MailLicense" serializeAs="String">
                <value>world.count@yandex.ru</value>
            </setting>
        </PartStat.Properties.Settings>
    </userSettings>
</configuration>