<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ListEditor.WinConf" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ListEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <ListEditor.WinConf>
            <setting name="GeneralFormState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="GeneralFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="GeneralFormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </ListEditor.WinConf>
        <ListEditor.Properties.Settings>
            <setting name="AppName" serializeAs="String">
                <value>Редактор списков</value>
            </setting>
            <setting name="DataDir" serializeAs="String">
                <value>DATA</value>
            </setting>
            <setting name="NeedUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IndexUrl" serializeAs="String">
                <value>https://vinfo.russianpost.ru/database/PIndx.zip</value>
            </setting>
            <setting name="DB" serializeAs="String">
                <value>data.db</value>
            </setting>
            <setting name="LastOpenDir" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSaveDir" serializeAs="String">
                <value />
            </setting>
            <setting name="StandartPO" serializeAs="String">
                <value />
            </setting>
            <setting name="IndexOps" serializeAs="String">
                <value>125993</value>
            </setting>
            <setting name="NDS" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="RecountValue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckIndex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckPostMark" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RegionCityFile" serializeAs="String">
                <value>RegionCity.xml</value>
            </setting>
            <setting name="Debug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckAllIndex" serializeAs="String">
                <value>False</value>
            </setting>
        </ListEditor.Properties.Settings>
    </userSettings>
</configuration>