<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <LK.Properties.Settings>
      <setting name="AppName" serializeAs="String">
        <value>Личный кабинет</value>
      </setting>
      <setting name="Data" serializeAs="String">
        <value>DATA</value>
      </setting>
      <setting name="Database" serializeAs="String">
        <value>database.db</value>
      </setting>
      <setting name="NeedUpgrade" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GeneralFormState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="GeneralFormLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="GeneralFormSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="AuthFile" serializeAs="String">
        <value>auth.xml</value>
      </setting>
      <setting name="DataColorFile" serializeAs="String">
        <value>color.xml</value>
      </setting>
      <setting name="ConfigFile" serializeAs="String">
        <value>config.xml</value>
      </setting>
      <setting name="TarifsData" serializeAs="String">
        <value>Tarifs</value>
      </setting>
      <setting name="ServiceTarifFile" serializeAs="String">
        <value>service.xml</value>
      </setting>
      <setting name="FirstMailTarifFile" serializeAs="String">
        <value>first_mail.xml</value>
      </setting>
      <setting name="MailTarifFile" serializeAs="String">
        <value>mail.xml</value>
      </setting>
      <setting name="ParcelTarifFile" serializeAs="String">
        <value>parcel.xml</value>
      </setting>
      <setting name="FirstParcelTarifFile" serializeAs="String">
        <value>first_parcel.xml</value>
      </setting>
      <setting name="InterMailTarifFile" serializeAs="String">
        <value>inter_mail.xml</value>
      </setting>
      <setting name="InterParcelTarifFile" serializeAs="String">
        <value>inter_parcel.xml</value>
      </setting>
      <setting name="PrintPreviewFlag" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FirstRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MailLicense" serializeAs="String">
        <value>world.count@yandex.ru</value>
      </setting>
      <setting name="ReportFile" serializeAs="String">
        <value>reports.xml</value>
      </setting>
      <setting name="FirmFieldsFile" serializeAs="String">
        <value>firmFields.xml</value>
      </setting>
      <setting name="RpoFieldsFile" serializeAs="String">
        <value>rpoFields.xml</value>
      </setting>
      <setting name="LoggingMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExportPath" serializeAs="String">
        <value>C:\</value>
      </setting>
      <setting name="AutoLoadFlag" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoClearFlag" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DataFieldsFile" serializeAs="String">
        <value>data_fields.xml</value>
      </setting>
    </LK.Properties.Settings>
  </userSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  
</configuration>