<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Installer.WinConf" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Installer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <Installer.WinConf>
            <setting name="GeneralFormState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="GeneralFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="GeneralFormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </Installer.WinConf>
        <Installer.Properties.Settings>
            <setting name="AppName" serializeAs="String">
                <value>Установщик ПО</value>
            </setting>
            <setting name="DataDir" serializeAs="String">
                <value>DATA</value>
            </setting>
            <setting name="NeedUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppRepoUrl" serializeAs="String">
                <value>http://worldcount.ru/Apps/AppPackage.xml</value>
            </setting>
            <setting name="LastSaveDir" serializeAs="String">
                <value />
            </setting>
            <setting name="RepoDir" serializeAs="String">
                <value>Apps</value>
            </setting>
            <setting name="TempDir" serializeAs="String">
                <value>Temp</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>ops125993</value>
            </setting>
            <setting name="Token" serializeAs="String">
                <value>ZiPdPqEoFHEAAAAAAAAByx73NF51wst-bLEaUOlD9axO7zxE3i_8oa1yGm4fIBaN</value>
            </setting>
        </Installer.Properties.Settings>
    </userSettings>
</configuration>